{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block heading %}
    {{ title }}
{% endblock %}

{% block subheading %}
    {% if subheading %}
        <h3 class="post-subtitle">
            {{ subheading }}
        </h3>
    {% endif %}
{% endblock %}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block main %}
                    {% include_block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</article>