my_site_django/my_site_django/prod_settings_secret.py
*.pyc
# IDEA, PyCharm
.idea
*pycache*
# For virtualenv
bin/
include/
lib/
lib64
# Misc
pip-selfcheck.json
# NPM
node_modules/
package-lock.json
yarn.lock
